@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.Gma-wrap {
  margin: 0 auto;
  position: relative;
}

.Gma-wrap .Gma-focus {
  overflow: hidden;
  position: relative;
}

.Gma-wrap .Gma-focus .centerbox {
  position: relative;
  left: 0px;
}

.Gma-wrap .Gma-focus .centerbox li {
  float: left;
  display: block;
}

.Gma-wrap .Gma-focus .centerbox li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.Gma-wrap .Gma-focus .centerbox li a img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border: none;
}

.Gma-wrap .Gma-focus .centerbox li a p {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0px;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}

.Gma-wrap .Gma-Focus-btn {
  /* 切换按钮的样式 */
  width: 60px;
  height: 80px;
  display: flex;
  font-size: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  z-index: 9999;
  position: absolute;
  top: 45%;
  margin-top: -50px;
  background-repeat: no-repeat;
}

.Gma-wrap .Gma-Focus-btn :link {
  text-decoration: none;
}

.Gma-wrap .prev {
  left: 0;
  justify-content: flex-start;
  background-image: url(../images/btn.png);
  background-position: 5px 7px;
}

.Gma-wrap .next {
  right: 0;
  justify-content: flex-end;
  background-image: url(../images/btn.png);
  background-position: -50px 7px;
}

.Gma-wrap .fbtn {
  /* 索引的样式*/
  width: auto;
  height: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.Gma-wrap .fbtn ul {
  width: 100%;
}

.Gma-wrap .fbtn ul li {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  float: left;
  background: #333;
  transition: all 0.5s;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.Gma-wrap .fbtn ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

.Gma-wrap .fbtn ul li.on {
  /* 索引按钮 */
  background: #ccc;
}

.Gma-wrap .fbtn ul li:first-child {
  margin-left: 0;
}
